<ng-container *ngIf = "type == 'admin' || type == 'manager'">
    <button (click)="deleteTrip()">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
          </svg>
    </button>
    <button (click) = "editTrip()">
        editTrip
    </button>
    
    <div class="form-style-8" *ngIf = "editMode">
        <h2>Edit {{trip.name}}</h2>
        <form [formGroup]="modelForm" (ngSubmit)="onSubmit(modelForm)">
            <input type = "text" name="name" formControlName="name" placeholder="Trip name">
            <input type = "text" name="place" formControlName="place" placeholder="Destination">
            <input type = "date" name="startDate" formControlName="startDate">
            <input type = "date" name="endDate" formControlName="endDate">
            <input type="number" min="0.00" step="0.01" name = "price" formControlName = "price" placeholder="price">
            <input type="number" min = "0" step = "1" name = "maxParticipants" formControlName = "maxParticipants" pattern="[0-9]+" placeholder="Max participants">
            <input type="text" name = "picture" formControlName = "picture" placeholder="https://example.com" pattern="(https|http)://.*.(jpg|png)" placeholder="Link do zdjęcia">
            <input type="text" name = "description" formControlName = "description" placeholder="Opis">
        
         <p *ngIf="!dateFine">!Data początku większa niż data końca!</p>
        
         <button [disabled]="!modelForm.valid" type="submit">Send</button>
        </form>
     </div>
</ng-container>

<div id = "content" [ngStyle] = "{'filter': activeFilter, 'border-color':borderColor}">
    <ng-container *ngIf = "loginToken[0]"><a routerLink="/trips/{{trip.id}}"><img class = "logged" src={{trip.picture}} alt="{{trip.name}}"></a></ng-container>
    <ng-container *ngIf = "!loginToken[0]"><img src={{trip.picture}} alt="{{trip.name}}"></ng-container>
    <h2>{{trip.name | uppercase}}</h2>
    <strong>{{trip.place | uppercase}}</strong>
    <p>{{startDate}} - {{endDate}}</p>
    <p [ngStyle] = "{'color':borderColor}">{{price|currency:currency}}</p>
    <p *ngIf="currentAvailableMembers > 0" [ngStyle] = "{'color': color}">Number of available members: {{currentAvailableMembers}}</p>
    <p *ngIf = "currentAvailableMembers == 0">!SOLD OUT!</p>
    <app-trip-buttons *ngIf = "type == 'client'" [nameOfTrip] = "trip.name" (members)="changeMembers($event)"></app-trip-buttons>
    <p *ngIf = "trip.grade == 0">This trip doesn't have any grades yet</p>
    <p *ngIf = "trip.grade > 0">Trip grade: {{trip.grade}}</p>
</div>
