#content{
    min-height: 80vh;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    border: 1px solid rgb(177, 177, 177);
    border-radius: 3px;
    -webkit-box-shadow: 8px 8px 24px -8px rgba(66, 68, 90, 0.72);
    -moz-box-shadow: 8px 8px 24px -8px rgba(66, 68, 90, 0.72);
    box-shadow: 8px 8px 24px -8px rgba(66, 68, 90, 0.72);
    margin: 20px 0px;
    padding: 20px;
    box-sizing: border-box;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.1));
} 