:host{
    *{
        box-sizing: border-box;
    }
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    row-gap: 10px;

    .img{
        color: rgb(42, 42, 42);
        width: 100%;
        background-image: url("bcg1.jpg");
        text-shadow: 1px 1px rgb(63, 148, 164);
        height: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        -webkit-box-shadow: 8px 8px 24px -8px rgba(66, 68, 90, 0.72);
        -moz-box-shadow: 8px 8px 24px -8px rgba(66, 68, 90, 0.72);
        box-shadow: 8px 8px 24px -8px rgba(66, 68, 90, 0.72);
        background-size: cover;
        border: 5px groove pink;
    }
    main{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        color: white;
    }

    #map{
        border: 1px solid rgb(177, 177, 177);
        border-radius: 3px;
        -webkit-box-shadow: 8px 8px 24px -8px rgba(66, 68, 90, 0.72);
        -moz-box-shadow: 8px 8px 24px -8px rgba(66, 68, 90, 0.72);
        box-shadow: 8px 8px 24px -8px rgba(66, 68, 90, 0.72);
    }

    @media (max-width: 800px) {
        main{
            flex-direction: column;
            row-gap: 10px;
        }
    }
    @media (max-width: 600px) {
        #map{
            display: none;
        }
    }
}