:host #selectors{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    row-gap: 20px;
}

:host #colors{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    column-gap: 5px;
}

:host #content{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    column-gap: 5px;
    row-gap: 5px;
}
