<div id = "selectors">
    <ng-container *ngIf="showBrands">
        <select [(ngModel)] = "selectedBrand" (ngModelChange)="chosenBrand()">
        
            <option disabled selected></option>
            <option *ngFor="let model of data |keyvalue">
                {{ model.key }}
            </option>
        </select>
    </ng-container>
    
    <ng-container *ngIf="showTypes">
        <select [(ngModel)]="selectedType" (ngModelChange)="chosenType()">
            
                <option disabled selected></option>
            <option *ngFor="let type of data[selectedBrand] | keyvalue">
                {{ type.key }}
            </option>
            
        </select>
    </ng-container>
    
    <ng-container *ngIf="showColors">
        <div id = "colors">
            <app-color *ngFor="let color of data[selectedBrand][selectedType] | keyvalue" [color] = "color.value" (click)="chosenColor(color.value)"></app-color>
        </div>
        
    </ng-container>
</div>

<div id = "content">
    <!--<div *ngFor="let car of cars">
        <app-car [brand] = "car.brand" [type] = "car.type" [color] = "car.color"></app-car>
    </div>-->

    <ng-container *ngIf="showCar">
        <app-car [brand] = "car.brand" [type] = "car.type" [color] = "car.color"></app-car>
        
    </ng-container>
</div>
